<section class="item-content list-content">
	<h4><a href="/<%= item.urlslug %>/<%= item.name %>"><%= item.title %></a></h4>
	<aside>
		<div class="_pea-content"><%- item.content %></div>
	</aside>
</section>