<% include ../shared/header %>
			<article class="ts-text-container">
				<section class=" ts-container-margin ts-container-margin-auto ts-width-90">
					<h3>Periodic is designed to replace large monolithic web applications</h3>
					<summary>The application framework is 100% open source and composed of extremely modular components. Periodic based applications enable the creation of bespoke <a href="">Node.js</a>/<a href="">Express</a>/<a href="">MongoDB</a> based APIs and web applications.</summary>
					<summary>The application framework is built with the UNIX / small utility / modular application design philosophy in mind. Content creators, developers, software engineers and entrepreneurs are encouraged to build large robust applications by integrating small single purposed extensions.</summary>
					<summary>Applications built with Periodic are intended to substitute large, bloated, homegrown Content Management Systems and E-Commerce Platforms and other large frameworks like Wordpress, Mangento, Drupal with a modular, nimble, fast node.js application that is easier to maintain, develop, test, and deploy.</summary>
				</section>
				<section class=" ts-container-margin ts-container-margin-auto ts-width-90">
					<h3>With fast modular applications that have dynamic data models</h3>
					<summary>Modern mobile and web applications consistently aggregate information from multiple sources with different data structures. Periodic based applications make it easy to integrate external data sources as well as define custom data structures, collections and groupings.</summary>
					<summary>The MongoDB based Model Schemas are extremely flexible.</summary>
				</section>
				<section class=" ts-container-margin ts-container-margin-auto ts-width-90">
					<h3>Applications that are inifinitely customizible with themes and extensions</h3>
					<summary>The use of additional frameworks, templating languages and design libraries is highly encouraged.</summary>
					<summary>New functionality is easily augmented with Periodic extension node modules, and you are always in control of your client side application framework. The node based infrastructure makes it easy to integrate CSS preprocessors and other development tools into your deployment process.</summary>
				</section>
				<section class=" ts-container-margin ts-container-margin-auto ts-width-90">
					<h3>Applications that are developer, designer, and enterprise friendly</h3>
					<summary>A modular design philosophy helps create modular, nimble, fast applications that are easier to maintain, develop, test, and deploy.</summary>dddd
				</section>
			</article>
<% include ../shared/footer %>